In [1]:
import pandas as pd
import numpy as np

In [2]:
train=pd.read_csv('train.csv',encoding="utf-8-sig")             # feather 파일로 load 시 기존 CSV 파일 보다 2배 빠른 32초를 소요하여 로드 완료
test=pd.read_csv('test.csv',encoding="utf-8-sig")

In [38]:
submission=pd.read_csv('sample_submission.csv',encoding="utf-8-sig")

In [39]:
submission

       game_id  winner
0        38872       0
1        38873       0
2        38874       0
3        38875       0
4        38876       0
...        ...     ...
16782    55654       0
16783    55655       0
16784    55656       0
16785    55657       0
16786    55658       0

[16787 rows x 2 columns]

In [5]:
train.shape

(67091776, 7)

In [30]:
train.tail()

,game_id,winner,time,player,species,event,event_contents
67091771,38871,0,8.51,0,Z,Camera,"at (139.578125, 62.58203125)"
67091772,38871,0,8.52,1,T,GetControlGroup,NaN
67091773,38871,0,8.52,0,Z,Camera,"at (122.42578125, 45.4296875)"
67091774,38871,0,8.52,0,Z,Camera,"at (122.42578125, 43.25390625)"
67091775,38871,0,8.52,1,T,Ability,(1360) - TrainSCV

In [3]:
train.head()

,game_id,winner,time,player,species,event,event_contents
0,0,1,0.00,0,T,Camera,"at (145.25, 21.5078125)"
1,0,1,0.00,1,T,Camera,"at (22.75, 147.0078125)"
2,0,1,0.02,0,T,Selection,['OrbitalCommand [3080001]']
3,0,1,0.02,0,T,Ability,(1360) - TrainSCV
4,0,1,0.14,0,T,Camera,"at (142.99609375, 24.50390625)"

In [6]:
train[train["game_id"] == 0]

,game_id,winner,time,player,species,event,event_contents
0,0,1,0.00,0,T,Camera,"at (145.25, 21.5078125)"
1,0,1,0.00,1,T,Camera,"at (22.75, 147.0078125)"
2,0,1,0.02,0,T,Selection,['OrbitalCommand [3080001]']
3,0,1,0.02,0,T,Ability,(1360) - TrainSCV
4,0,1,0.14,0,T,Camera,"at (142.99609375, 24.50390625)"
...,...,...,...,...,...,...,...
1135,0,1,7.22,0,T,Camera,"at (144.36328125, 44.93359375)"
1136,0,1,7.22,0,T,Camera,"at (144.36328125, 45.75390625)"
1137,0,1,7.24,1,T,Ability,"(1380) - LandBarracks; Location: (28.5, 145.5,..."
1138,0,1,7.24,0,T,Right Click,"Target: None [00CC0001]; Location: (155.0, 54...."
1139,0,1,7.24,0,T,Camera,"at (144.36328125, 44.90625)"

In [7]:
train2 = train[train["game_id"] == 0]

In [16]:
train2[train2["player"] == 1]

,game_id,winner,time,player,species,event,event_contents
1,0,1,0.00,1,T,Camera,"at (22.75, 147.0078125)"
29,0,1,0.33,1,T,Ability,(1360) - TrainSCV
30,0,1,0.34,1,T,Camera,"at (22.75, 145.90625)"
31,0,1,0.34,1,T,Camera,"at (22.75, 143.24609375)"
33,0,1,0.34,1,T,Camera,"at (22.75, 140.9921875)"
...,...,...,...,...,...,...,...
1118,0,1,7.18,1,T,Selection,['Starport [4740001]']
1122,0,1,7.21,1,T,Selection,['Barracks [39C0001]']
1124,0,1,7.21,1,T,Camera,"at (26.140625, 140.7890625)"
1127,0,1,7.21,1,T,Camera,"at (28.34375, 140.7890625)"
1137,0,1,7.24,1,T,Ability,"(1380) - LandBarracks; Location: (28.5, 145.5,..."

In [21]:
winer = train2[train2["player"] == 1]
loser = train2[train2["player"] == 0]

In [26]:
winer[winer["event"]=="Ability"]

,game_id,winner,time,player,species,event,event_contents
29,0,1,0.33,1,T,Ability,(1360) - TrainSCV
43,0,1,0.37,1,T,Ability,"(1021) - BuildSupplyDepot; Location: (28.0, 14..."
56,0,1,0.40,1,T,Ability,(1022) - BuildRefinery; Target: CreepOnlyBlock...
63,0,1,0.41,1,T,Ability,(1360) - TrainSCV
124,0,1,1.21,1,T,Ability,"(1023) - BuildBarracks; Location: (28.5, 144.5..."
223,0,1,2.30,1,T,Ability,"(1021) - BuildSupplyDepot; Location: (24.0, 14..."
235,0,1,2.35,1,T,Ability,(13E0) - TrainMarine
311,0,1,2.52,1,T,Ability,"(102A) - BuildFactory; Location: (28.5, 138.5,..."
336,0,1,3.06,1,T,Ability,(1C60) - UpgradeToOrbitalCommand
367,0,1,3.18,1,T,Ability,"(5A0) - Attack; Location: (13.541015625, 111.4..."
406,0,1,3.25,1,T,Ability,(13E0) - TrainMarine
489,0,1,3.46,1,T,Ability,(E20) - ExtraSupplies; Target: SupplyDepot [03...
503,0,1,3.49,1,T,Ability,(1360) - TrainSCV
537,0,1,3.58,1,T,Ability,"(12A0) - BuildFactoryTechLab; Location: (28.5,..."
576,0,1,4.10,1,T,Ability,"(5A0) - Attack; Location: (32.707763671875, 14..."
593,0,1,4.15,1,T,Ability,(1000) - SCVRepair
663,0,1,4.34,1,T,Ability,(1022) - BuildRefinery; Target: CreepOnlyBlock...
708,0,1,4.46,1,T,Ability,(1401) - BuildSiegeTank
778,0,1,5.04,1,T,Ability,(13E0) - TrainMarine
799,0,1,5.13,1,T,Ability,(1360) - TrainSCV
810,0,1,5.21,1,T,Ability,"(1021) - BuildSupplyDepot; Location: (19.0, 13..."
894,0,1,5.48,1,T,Ability,(10E0) - SiegeMode
908,0,1,5.55,1,T,Ability,"(5A0) - Attack; Location: (28.266357421875, 12..."
939,0,1,6.02,1,T,Ability,(1401) - BuildSiegeTank
944,0,1,6.05,1,T,Ability,(13E0) - TrainMarine
946,0,1,6.07,1,T,Ability,(1360) - TrainSCV
953,0,1,6.10,1,T,Ability,(13E0) - TrainMarine
1060,0,1,6.52,1,T,Ability,(1C60) - UpgradeToOrbitalCommand
1066,0,1,6.56,1,T,Ability,(B40) - CalldownMULE; Target: None [019C0001];...
1069,0,1,7.00,1,T,Ability,(1360) - TrainSCV
1092,0,1,7.11,1,T,Ability,(1280) - LiftBarracks
1102,0,1,7.14,1,T,Ability,(1260) - BuildBarracksTechLab; Location: (36.5...
1117,0,1,7.18,1,T,Ability,(1300) - LiftStarport
1137,0,1,7.24,1,T,Ability,"(1380) - LandBarracks; Location: (28.5, 145.5,..."

In [28]:
winer[winer["event"]=="Selection"]

,game_id,winner,time,player,species,event,event_contents
57,0,1,0.40,1,T,Selection,['OrbitalCommand [33C0001]']
130,0,1,1.23,1,T,Selection,"['SCV [3400001]', 'SCV [3440001]', 'SCV [34C00..."
141,0,1,1.30,1,T,Selection,"['SCV [3680001]', 'SCV [3840001]']"
146,0,1,1.37,1,T,Selection,['Barracks [3A40002]']
183,0,1,2.12,1,T,Selection,['OrbitalCommand [33C0001]']
210,0,1,2.24,1,T,Selection,"['SCV [3480001]', 'SCV [36C0001]']"
213,0,1,2.25,1,T,Selection,['Barracks [3A40002]']
262,0,1,2.44,1,T,Selection,"['SCV [3400001]', 'SCV [3440001]', 'SCV [35C00..."
312,0,1,2.53,1,T,Selection,['Barracks [3A40002]']
313,0,1,2.53,1,T,Selection,['Barracks [39C0001]']
326,0,1,2.59,1,T,Selection,['SCV [3480001]']
343,0,1,3.12,1,T,Selection,['Marine [3E00002]']
344,0,1,3.12,1,T,Selection,['Marine [3D80002]']
347,0,1,3.15,1,T,Selection,['Marine [3E00002]']
387,0,1,3.23,1,T,Selection,['Barracks [3A40002]']
388,0,1,3.23,1,T,Selection,['Barracks [39C0001]']
422,0,1,3.29,1,T,Selection,"['Marine [3D80002]', 'Marine [3E00002]']"
474,0,1,3.40,1,T,Selection,['Factory [3D40001]']
476,0,1,3.41,1,T,Selection,['OrbitalCommand [33C0001]']
510,0,1,3.50,1,T,Selection,['Factory [3D40001]']
512,0,1,3.52,1,T,Selection,['Barracks [3A40002]']
513,0,1,3.52,1,T,Selection,['Barracks [39C0001]']
544,0,1,4.00,1,T,Selection,['Barracks [39C0001]']
564,0,1,4.06,1,T,Selection,"['Marine [3D80002]', 'Marine [3E00002]', 'Mari..."
578,0,1,4.11,1,T,Selection,"['SCV [3580001]', 'SCV [3680001]']"
584,0,1,4.13,1,T,Selection,[]
586,0,1,4.14,1,T,Selection,"['SCV [3540001]', 'SCV [35C0001]', 'SCV [36000..."
604,0,1,4.19,1,T,Selection,[]
617,0,1,4.21,1,T,Selection,"['Marine [3D80002]', 'Marine [3E00002]', 'Mari..."
640,0,1,4.30,1,T,Selection,"['Marine [3D80002]', 'Marine [3E00002]', 'Mari..."
655,0,1,4.31,1,T,Selection,"['SCV [3400001]', 'SCV [3440001]', 'SCV [34800..."
707,0,1,4.45,1,T,Selection,['Factory [3D40001]']
750,0,1,4.57,1,T,Selection,"['Marine [3E80003]', 'Marine [4080001]']"
771,0,1,5.02,1,T,Selection,['Barracks [39C0001]']
772,0,1,5.03,1,T,Selection,['Barracks [3A40002]']
794,0,1,5.12,1,T,Selection,['OrbitalCommand [33C0001]']
811,0,1,5.23,1,T,Selection,['Factory [3D40001]']
837,0,1,5.33,1,T,Selection,['SiegeTank [4700001]']
840,0,1,5.37,1,T,Selection,['SiegeTank [4700001]']
898,0,1,5.49,1,T,Selection,['Marine [3D80002]']
899,0,1,5.50,1,T,Selection,"['Marine [3E00002]', 'Marine [3F40001]', 'Mari..."
910,0,1,5.57,1,T,Selection,['SCV [3440001]']
934,0,1,6.01,1,T,Selection,['Factory [3D40001]']
959,0,1,6.12,1,T,Selection,['SCV [3680001]']
966,0,1,6.15,1,T,Selection,['SCV [3900003]']
972,0,1,6.18,1,T,Selection,['Barracks [39C0001]']
977,0,1,6.19,1,T,Selection,[]
987,0,1,6.22,1,T,Selection,['Barracks [39C0001]']
1019,0,1,6.27,1,T,Selection,['Marine [3D80002]']
1020,0,1,6.27,1,T,Selection,"['Marine [3E00002]', 'Marine [3F40001]', 'Mari..."
1041,0,1,6.43,1,T,Selection,['OrbitalCommand [4340002]']
1054,0,1,6.47,1,T,Selection,[]
1070,0,1,7.02,1,T,Selection,['OrbitalCommand [4340002]']
1096,0,1,7.11,1,T,Selection,"['Barracks [39C0001]', 'Barracks [3A40002]']"
1109,0,1,7.16,1,T,Selection,['SupplyDepot [37C0001]']
1118,0,1,7.18,1,T,Selection,['Starport [4740001]']
1122,0,1,7.21,1,T,Selection,['Barracks [39C0001]']

In [37]:
winer[winer["event"]=="AddToControlGroup"]

Empty DataFrame
Columns: [game_id, winner, time, player, species, event, event_contents]
Index: []

In [27]:
loser[loser["event"]=="Ability"]

,game_id,winner,time,player,species,event,event_contents
3,0,1,0.02,0,T,Ability,(1360) - TrainSCV
19,0,1,0.27,0,T,Ability,"(1021) - BuildSupplyDepot; Location: (135.0, 4..."
27,0,1,0.31,0,T,Ability,(480) - Stop
37,0,1,0.35,0,T,Ability,(1360) - TrainSCV
87,0,1,1.00,0,T,Ability,"(1023) - BuildBarracks; Location: (135.5, 39.5..."
101,0,1,1.03,0,T,Ability,(1360) - TrainSCV
104,0,1,1.09,0,T,Ability,(1022) - BuildRefinery; Target: CreepOnlyBlock...
136,0,1,1.25,0,T,Ability,(1360) - TrainSCV
184,0,1,2.14,0,T,Ability,"(1020) - BuildCommandCenter; Location: (147.5,..."
198,0,1,2.20,0,T,Ability,(1360) - TrainSCV
226,0,1,2.32,0,T,Ability,"(1021) - BuildSupplyDepot; Location: (140.0, 3..."
252,0,1,2.43,0,T,Ability,(1C60) - UpgradeToOrbitalCommand
329,0,1,3.00,0,T,Ability,(13E0) - TrainMarine
369,0,1,3.19,0,T,Ability,"(102A) - BuildFactory; Location: (145.5, 48.5,..."
384,0,1,3.22,0,T,Ability,(1360) - TrainSCV
423,0,1,3.30,0,T,Ability,(1022) - BuildRefinery; Target: CreepOnlyBlock...
442,0,1,3.34,0,T,Ability,(1261) - BuildBarracksReactor; Location: (135....
491,0,1,3.48,0,T,Ability,(1360) - TrainSCV
561,0,1,4.06,0,T,Ability,(4E40) - KD8Charge; Location: (24.601806640625...
673,0,1,4.36,0,T,Ability,"(1021) - BuildSupplyDepot; Location: (139.0, 5..."
710,0,1,4.47,0,T,Ability,(13E0) - TrainMarine
748,0,1,4.56,0,T,Ability,"(102B) - BuildStarport; Location: (126.5, 20.5..."
790,0,1,5.07,0,T,Ability,(1024) - BuildEngineeringBay; Location: (132.5...
812,0,1,5.23,0,T,Ability,(1418) - BuildWidowMine
867,0,1,5.42,0,T,Ability,"(1023) - BuildBarracks; Location: (128.5, 39.5..."
907,0,1,5.54,0,T,Ability,(1360) - TrainSCV
923,0,1,6.00,0,T,Ability,(1420) - TrainMedivac
947,0,1,6.07,0,T,Ability,(12A0) - BuildFactoryTechLab; Location: (143.5...
1029,0,1,6.31,0,T,Ability,(1360) - TrainSCV
1034,0,1,6.36,0,T,Ability,(1446) - UpgradeTerranInfantryArmor1
1035,0,1,6.38,0,T,Ability,(F61) - CancelSlot
1048,0,1,6.45,0,T,Ability,(B40) - CalldownMULE; Target: None [01000001];...
1077,0,1,7.05,0,T,Ability,(13E0) - TrainMarine
1090,0,1,7.11,0,T,Ability,"(1021) - BuildSupplyDepot; Location: (137.0, 5..."

In [29]:
loser[loser["event"]=="Selection"]

,game_id,winner,time,player,species,event,event_contents
2,0,1,0.02,0,T,Selection,['OrbitalCommand [3080001]']
28,0,1,0.33,0,T,Selection,['OrbitalCommand [3080001]']
68,0,1,0.47,0,T,Selection,['SCV [3280001]']
102,0,1,1.06,0,T,Selection,['CreepOnlyBlocker4x4 [1B00001]']
103,0,1,1.07,0,T,Selection,"['SCV [30C0001]', 'SCV [3780001]']"
110,0,1,1.15,0,T,Selection,['SCV [3380001]']
137,0,1,1.27,0,T,Selection,['SCV [3100001]']
145,0,1,1.36,0,T,Selection,['SCV [3980002]']
152,0,1,1.45,0,T,Selection,['SCV [3880001]']
160,0,1,1.47,0,T,Selection,['Barracks [38C0001]']
171,0,1,1.52,0,T,Selection,['SCV [3280001]']
178,0,1,2.07,0,T,Selection,['SCV [3280001]']
197,0,1,2.19,0,T,Selection,['OrbitalCommand [3080001]']
214,0,1,2.26,0,T,Selection,['SCV [3180001]']
246,0,1,2.39,0,T,Selection,['Barracks [38C0001]']
301,0,1,2.50,0,T,Selection,['Barracks [38C0001]']
333,0,1,3.04,0,T,Selection,['Reaper [3DC0002]']
368,0,1,3.18,0,T,Selection,['OrbitalCommand [3080001]']
447,0,1,3.36,0,T,Selection,['SupplyDepotLowered [3740001]']
469,0,1,3.40,0,T,Selection,['SCV [3380001]']
511,0,1,3.50,0,T,Selection,[]
543,0,1,4.00,0,T,Selection,[]
545,0,1,4.02,0,T,Selection,['Reaper [3DC0002]']
577,0,1,4.11,0,T,Selection,['Reaper [3DC0002]']
638,0,1,4.27,0,T,Selection,['Factory [3E40001]']
676,0,1,4.37,0,T,Selection,['OrbitalCommand [3B80001]']
689,0,1,4.43,0,T,Selection,['None [1]']
706,0,1,4.45,0,T,Selection,['Marine [3F00002]']
737,0,1,4.52,0,T,Selection,['SCV [3300001]']
761,0,1,5.00,0,T,Selection,['SCV [3140001]']
803,0,1,5.17,0,T,Selection,[]
834,0,1,5.32,0,T,Selection,['SCV [3280001]']
873,0,1,5.44,0,T,Selection,['Factory [3E40001]']
900,0,1,5.50,0,T,Selection,['SCV [31C0001]']
901,0,1,5.52,0,T,Selection,['SCV [3580003]']
940,0,1,6.03,0,T,Selection,['Factory [3E40001]']
948,0,1,6.08,0,T,Selection,['Factory [3E40001]']
949,0,1,6.08,0,T,Selection,['Factory [3E40001]']
951,0,1,6.09,0,T,Selection,['Rocks2x2NonConjoined [4800001]']
965,0,1,6.14,0,T,Selection,['EngineeringBay [45C0001]']
970,0,1,6.16,0,T,Selection,['Rocks2x2NonConjoined [4800001]']
989,0,1,6.23,0,T,Selection,[]
1008,0,1,6.25,0,T,Selection,['Marine [3F00002]']
1037,0,1,6.41,0,T,Selection,['OrbitalCommand [3B80001]']
1059,0,1,6.51,0,T,Selection,"['Marine [4400003]', 'Marine [4480002]', 'Mari..."
1065,0,1,6.56,0,T,Selection,[]
1067,0,1,6.58,0,T,Selection,['Medivac [4AC0001]']
1079,0,1,7.07,0,T,Selection,['SCV [44C0001]']
1116,0,1,7.17,0,T,Selection,['SupplyDepot [3CC0001]']
1119,0,1,7.19,0,T,Selection,['OrbitalCommand [3080001]']

In [23]:
winer["event_contents"].describe()

count                        544
unique                       491
top       ['Barracks [39C0001]']
freq                           8
Name: event_contents, dtype: object

In [25]:
loser["event_contents"].describe()

count                   563
unique                  525
top       (1360) - TrainSCV
freq                      9
Name: event_contents, dtype: object

In [4]:
test.head()

   game_id  time  player species              event             event_contents
0    38872  0.00       0       P             Camera     at (22.25, 81.5078125)
1    38872  0.00       1       P             Camera  at (120.25, 153.83984375)
2    38872  0.01       1       P          Selection        ['Nexus [3100001]']
3    38872  0.01       1       P            Ability        (15E0) - TrainProbe
4    38872  0.01       1       P  AddToControlGroup                        NaN

In [3]:
pip install pyarrow

Collecting pyarrow
  Downloading pyarrow-0.16.0-cp37-cp37m-win_amd64.whl (20.4 MB)
Requirement already satisfied: six>=1.0.0 in c:\programdata\anaconda3\lib\site-packages (from pyarrow) (1.12.0)
Requirement already satisfied: numpy>=1.14 in c:\programdata\anaconda3\lib\site-packages (from pyarrow) (1.18.1)
Installing collected packages: pyarrow
Successfully installed pyarrow-0.16.0
Note: you may need to restart the kernel to use updated packages.